version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: simavi_postgres
    environment:
      POSTGRES_DB: simavi_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: